<p id="notice"><%= notice %></p>

<h1>Listing Videos</h1>

<%= link_to 'New Video', new_video_path %>


<hr>


    <% @videos.each do |video| %>
    



		<%= embed(video.youtube_url) %>
	        

		


     <% end %>
	
 


